@charset "utf-8";
/* CSS Document */
:root
{
	--off-white: #f5f5f5;
	--primary: #dd7373;
}

body
{
	background-color: #E9EAE0;
}

#section-top
{
	display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/package-header-img.jpg") no-repeat ;
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
	z-index: -1;
	height: 70%;
	width: 100%;
}


#section-top h2
{
	text-align: center;
	font-size: 110px;
	color: #fff;
	font-weight: 600;
}
#section-top h2:hover
{
	-webkit-text-stroke:2px #fff;
	color: transparent;
}

.packages-card
{
	background-color: #E9EAE0;
}

.packages-card h1
{
	padding: 70px 70px 35px;
	text-align: center;
}

.container
{
	width: 75%;
	margin: 2rem auto;
	
}

.card
{
	height: 250px;
	background-color: #fff;
	box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.28);
	border-radius: 1rem;
}

.card-image
{
	height: 35rem;
	overflow: hidden;
}

.card-image img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.card-content
{
	padding: 2rem;
}

.card-title
{
	font-size: 30px;
}

.card-desc
{
	font-size: 14px; 
}

.card-cta
{
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button
{
	padding: 0.5rem 1.5rem;
	display: inline-block;
	background-color: var(--primary);
	border-radius: 0.6rem;
	color: var(--off-white);
	text-decoration: none;
}



@media screen and (min-width: 900px)
{
	.card
	{
		display: flex;
		height: 250px;
		overflow: hidden;
	}
	
	.card-image
	{
		height: auto;
		flex: 1;
	}
	
	.card-content
	{
		flex: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}